<% content_for :title, "Payments" %>

<%= tabbed_layout do |tabs| %>

  <% tabs.payments do %>
    <div class="payments container">
      <table class="fancy">
        <thead>
          <tr>
            <th>Date</th>
            <th>Completed?</th>
            <th>Reference</th>
            <th style="text-align:right">Amount</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <td><%= payment.created_at.to_formatted_s(:short) %></td>
              <td><%= payment.succeded %></td>
              <td><%= payment.reference %></td>
              <td style="text-align:right"><%= number_to_currency payment.amount %></td>
              <td><%= payment.name %></td>
              <td><%= payment.email || "—" %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6"><%= will_paginate @payments %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  <% end %>

  <% tabs.settings do %>
    <%= breeze_form_for Breeze.config, :as => :settings, :url => admin_settings_path, :method => :put do |form| %>
      <%= form.fieldset :legend => "DPS Credentials" do %>
        <%= form.text_field :pxpay_user_id, :label => "PxPay User ID" %>
        <%= form.text_field :pxpay_key, :label => "PxPay Key" %>
      <% end %>
      <%= form.submit "Save settings", :class => "large green save button" %>
    <% end %>
  <% end %>

<% end %>

<% content_for :left do %>
  <%= pane_layout do |layout| %>
    <%= layout.header do %>
      <h2>Payments</h2>
    <% end %>
    <%= layout.inner do %>

    <% end %>
  <% end %>
<% end %>
